.hero{
    &-single{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 162px 0px;
        @include media-breakpoint-down(lg){
            padding: 100px 0px;
        }
    }

    & .slider-nav{
        & button{
            @include media-breakpoint-up(xxl){
                left: 72px;
            }
            @include media-breakpoint-up(xl){
                left: 30px;
            }
            left: 10px;
            z-index: 11;
            &.next{
                left: auto;
                right: 10px;
            @include media-breakpoint-up(xxl){
                right: 72px;
            }
            @include media-breakpoint-up(xl){
                right: 30px;
            }
            }
        }
    }
}